<a href="https://colab.research.google.com/github/sonaliyadav55/Python-Project/blob/main/Python_Mandatory_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Q1

#You are working in a bank, and you have been given two lists of the employees who worked in 2021.
#Employees’ names in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob, and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, and Sarita.
# Please write a program that helps to identify people who are common in both lists. Please do not use any in-built function.


emp1= ['Ramesh','Suresh','Mahesh','Ali','Jacob','Saritha']
emp2= ['Ali', 'Mukesh', 'Mahesh', 'Jacob', 'Sai', 'Sarita']

for i in emp1:
  for j in emp2:
    if i==j:
      print(i)

Mahesh
Ali
Jacob

In [ ]:
# QUESTION 2

data= "Ramesh Suresh Mohit"

list =data.split()    #convert string to list using split function
print(list)

age=[25,22,26]

print(sum(age))

for i in list:
  age.append(i)

for name,age in zip(list,age):
  print(name,':',age)

['Ramesh', 'Suresh', 'Mohit']
73
Ramesh : 25
Suresh : 22
Mohit : 26

In [ ]:
#QUESTION 3

strip_quant= { 'paracetamol':2,'azithromycin':3, 'Vitamin C':5}
strip_price= { 'paracetamol':35,'azithromycin':49, 'Vitamin C':33}

money=2000
total=0

for i,j in strip_quant.items():
  if i in strip_price:
    each=strip_price[i] * j
    total=total + each


  total_each_cost=strip_quant.get(i)*strip_price.get(i)


  print(total_each_cost)
print('total cost of all medicine:',total)
print('money refunded to the patient:',money-total)

70
147
165
total cost of all medicine: 382
money refunded to the patient: 1618

In [ ]:
#QUESTION 4

st=input('Enter the string : ')
count=0
vowel='AEIOUaeiou'
for i in st:
  if i in vowel:
    count+=1
print(count)

Enter the string : my name is sonali
6

In [ ]:
#QUESTION 5

def candidate(age):
  remain_age=18-age

  if age >= 18:
    return '‘Congrats! You are eligible’'
  else:
    return 'return after {} years'.format(remain_age)

candidate(2)

'return after 16 years'

In [ ]:
#QUESTION 6

A = [1, 2, 3, 4, 5]
B=[]
sum=0

for i in A:
  sum=sum+i
  B.append(sum)
print(B)

[1, 3, 6, 10, 15]

In [ ]:
#QUESTION 7

A = input('enter your message:')

vowels = ['a', 'e', 'i', 'o', 'u']
result = ""

for i in range(len(A)):
    if A[i] not in vowels:
        result = result + A[i]

print( result)

enter your message:my name is sonali
my nm s snl

In [ ]:
# QUESTION 8
A=input('enter your string:')

encoded = ""

i = 0
while i < len(A):
  count = 1

  while i + 1 < len(A) and A[i] == A[i + 1]:
        count = count + 1
        i = i + 1

  encoded = encoded + str(count) + A[i]
  i = i + 1

print(encoded)

enter your string:aabbbcc
2a3b2c